* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Euclid Circular A', sans-serif;
}

body {
  background-color: #FCFCFD;
  font-family: 'Euclid Circular A', sans-serif;
  margin: 0;
}

.flex-container {
  height: 100%;
  align-items: center;
}

.boarder {
  border: none !important;
  border-right: 1.7px solid #ebeaed !important;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 230px !important;
  background-color: #FFFFFF;
  position: fixed;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar a {
  display: block;
  color: #344054;
  padding: 12px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500px;
}

.sidebar a:hover {
  background-color: #F0F9FF;
  border-radius: 10px;
  color: #0065AB;
}

a.active {
  background-color: #F0F9FF;
  color: #344054;
  border-radius: 10px;
}

.bott {
  border-bottom: 1.7px solid #ebeaed !important;
  width: 100% !important;
}

.main {
  margin-left: 235px !important;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  max-width: 78% !important;
}

.steps {
  border: 1px solid #EFF8FF;
  background-color: #EFF8FF;
  border-radius: 7px;
}

label {
  display: flex !important;
  font-size: 14px !important;
  font-family: 'Euclid Circular A', sans-serif !important;
}

input,
label {
  margin: .4rem 0;
}

.workinput {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #D0D5DD !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 512px;
}

.bott1 {
  border-bottom: 1.7px solid #ebeaed !important;
  width: 77% !important;
}

.buss {
  font-size: 14px;
  font-weight: 500px;
}

.buss2 {
  font-size: 16px;
  font-weight: 500px;
  color: #667085;
}

.buss3 {
  font-size: 16px;
  font-weight: 500px;
  color: black;
}

.inps {
  gap: 17rem;
}

.bott-top {
  border-top: 1.1px solid #ebeaed !important;
  width: 79% !important;
}

.inps2 {
  gap: 13rem;
}

.inps3 {
  gap: 15.4rem;
}

.inps4 {
  gap: 8rem;
}

.inps5 {
  gap: 18rem;
}

.inps6 {
  gap: 19.9rem;
}

.inps7 {
  gap: 13.7rem;
}

.workinput2 {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #D0D5DD !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  height: 128px;
  width: 512px;
}

.number {
  border: none !important;
  border-radius: 10px !important;
  border: 1px solid #D0D5DD !important;
  border-collapse: collapse !important;
  padding: 8px !important;
  width: 512px;
}

.a2 {
  background-color: #0065AB;
  border: 1px solid#0065AB;
  border-radius: 8px;
  border-collapse: collapse;
  width: 157px;
  padding: 7px !important;
  text-align: center !important;
  text-decoration: none !important;
  display: inline-block !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600px !important;
}

.a2:hover {
  color: #0065AB !important;
  background-color: #FFFFFF;
  border: 1px solid#0065AB !important;
}

.right {
  float: right;
}